.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}
.roxo {
    background-color: #9353FF;
    color: white;
}

.icon-green {
    color: #DAFF01;
}

.posicao {
    top: 40%;
}

@media(max-width: 767px){
    .posicao{
        top:60%;
    }
}